In [1]:
from env import get_url_for_pancakes
from acquire import acquire_data

import pandas as pd
import os.path

The data is stored on a sql database. We'll use an env.py with the credintials needed to pull the data from sql. We'll pull the data into a pandas dataframe, which will be the primary datastructure for housing our data.

# Getting the Data from SQL

In [2]:
query = """
SELECT  bedroomcnt, 
		bathroomcnt,
        calculatedfinishedsquarefeet,
		taxvaluedollarcnt,
		fips
FROM properties_2017 as p
JOIN predictions_2017 as pr USING(`parcelid`)
WHERE propertylandusetypeid = 261 and (transactiondate >= '2017-05-01' AND transactiondate <= '2017-06-31')
"""

zillow_url = get_url_for_pancakes('zillow')

df = pd.read_sql(query, zillow_url)

# Dealing with Counties

### Importing an external dataset that deals with FIPS, which can tell us which county the residence is in

In [3]:
fips = pd.read_table('FIPS.txt')

In [4]:
fips.head()

   FIPS     Name State
0  1001  Autauga    AL
1  1003  Baldwin    AL
2  1005  Barbour    AL
3  1007     Bibb    AL
4  1009   Blount    AL

# Merging the Data

In [5]:
df = pd.merge(left=df, right=fips, left_on='fips', right_on='FIPS')

In [6]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,fips,FIPS,Name,State
0,3.0,2.0,1458.0,136104.0,6037.0,6037,Los Angeles,CA
1,2.0,1.0,1421.0,35606.0,6037.0,6037,Los Angeles,CA
2,3.0,2.0,1650.0,614000.0,6037.0,6037,Los Angeles,CA
3,2.0,1.0,693.0,274237.0,6037.0,6037,Los Angeles,CA
4,0.0,0.0,1378.0,168828.0,6037.0,6037,Los Angeles,CA

# Generating a CSV to Reduce Stress on SQL Database

In [7]:
if os.path.isfile('zillow.csv'):
    print ("CSV already generated.")
else:
    df.to_csv('zillow.csv')
    print('Generated csv within zillow-project directory')

CSV already generated.

# Testing the Module

In [8]:
df = acquire_data()

csv has been previously generated.