In [2]:
from acquire import acquire_data

import pandas as pd

# Aqcuisition

In [4]:
df = acquire_data()

csv has been previously generated.

In [5]:
df.head()

,Unnamed: 0,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,fips,FIPS,Name,State
0,0,3.0,2.0,1458.0,136104.0,6037.0,6037,Los Angeles,CA
1,1,2.0,1.0,1421.0,35606.0,6037.0,6037,Los Angeles,CA
2,2,3.0,2.0,1650.0,614000.0,6037.0,6037,Los Angeles,CA
3,3,2.0,1.0,693.0,274237.0,6037.0,6037,Los Angeles,CA
4,4,0.0,0.0,1378.0,168828.0,6037.0,6037,Los Angeles,CA

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15036 entries, 0 to 15035
Data columns (total 9 columns):
Unnamed: 0                      15036 non-null int64
bedroomcnt                      15036 non-null float64
bathroomcnt                     15036 non-null float64
calculatedfinishedsquarefeet    15012 non-null float64
taxvaluedollarcnt               15036 non-null float64
fips                            15036 non-null float64
FIPS                            15036 non-null int64
Name                            15036 non-null object
State                           15036 non-null object
dtypes: float64(5), int64(2), object(2)
memory usage: 1.0+ MB

# Preparation

# Exploration

# Feature Engineering

In [ ]:
#